@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/gilroy-Light.eot");
  src: local("☺"), url("../../fonts/gilroy-light.woff") format("woff"),
    url("../../fonts/gilroy-light.ttf") format("truetype"),
    url("../../fonts/gilroy-light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/gilroy-extraBold.eot");
  src: local("☺"), url("../../fonts/gilroy-extrabold.woff") format("woff"),
    url("../../fonts/gilroy-extrabold.ttf") format("truetype"),
    url("../../fonts/gilroy-Extrabold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
*:last-child {
  margin-bottom: 0;
}
html {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 23px;
  text-align: center;
}

.wrapper {
  position: relative;
  overflow: hidden;
}
.container {
}

a {
  color: #3c3c3c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

figure {
  margin: 0;
}

p,
ul,
ol {
  margin: 0 0 16px 0;
}

* + p,
* + ul,
* + ol {
  margin-top: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.67em 0;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 0.67em;
}
