.row {
  display: flex;
  flex-wrap: wrap;
  margin: -17px;
  flex-direction: row;
}
.row > .column {
  padding: 17px;
}

.row-medium {
  margin: -8.5px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.row-medium > .column {
  padding: 8.5px;
}
.row-large {
  margin: -17px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.row-large > .column {
  padding: 17px;
}
@media (min-width: 680px) {
  .row-tiny {
    margin: -45px;
  }
  .row-tiny > .column {
    padding: 45px;
  }
}
