.section {
  position: relative;
}
.section-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.section-background {
  z-index: -2;
}
.section-background > img {
  height: 100%;
}
.search-background > .bg-search {
  height: 100%;
}

.search-background {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}
.search-container {
  max-width: 1172px;
  padding: 25px 16px;
  margin: 0 auto;
}
.search-title {
  font-size: 32px;
  line-height: 44px;
  color: #061e33;
  margin-bottom: 20px;
}
.button-search {
  margin-top: 20px;
}
.select-title {
  text-align: left;
  font-size: 14px;
  line-height: 16px;
  color: #888ea0;
}
.section-popular {
  background-color: #f2f7ff;
}
.container-popular {
  position: relative;
  max-width: 1310px;
  padding: 25px 16px;
  margin: 0 auto;
}
.title-popular {
  font-size: 32px;
  line-height: 44px;
  color: #061e33;
  margin-bottom: 20px;
}
.daily-container {
  padding: 25px 52px;
  max-width: 1172px;
  margin: 0 auto;
}

.daily-title {
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 20px;
}
.button-daily {
  margin-top: 20px;
}
.container-who {
  padding: 25px 16px;
  max-width: 1148px;
  margin: 0 auto;
}

.title-who {
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section-reviews {
  padding: 25px 0px;
}
.title-reviews {
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 20px;
}
.section-reviews {
  background-color: #f2f7ff;
}
.who-img-top-left {
  margin-bottom: 17px;
  border-top-left-radius: 37px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.who-img-top-right {
  margin-bottom: 17px;
  border-top-right-radius: 37px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.who-img-bottom-left {
  border-bottom-left-radius: 37px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.who-img-bottom-right {
  border-bottom-right-radius: 37px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.who-description {
  font-size: 16px;
  line-height: 22px;
  color: #464649;
  text-align: left;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (min-width: 480px) {
  .search-title {
    font-size: 42px;
    line-height: 54px;
    margin-bottom: 30px;
  }
  .search-container {
    padding: 50px 16px;
  }
  .button-search {
    margin-top: 35px;
  }
  .button-daily {
    margin-top: 35px;
  }

  .container-popular {
    padding: 50px 16px;
  }
  .title-popular {
    font-size: 42px;
    line-height: 54px;
    margin-bottom: 30px;
  }
  .daily-container {
    padding: 50px 16px;
  }

  .daily-title {
    font-size: 42px;
    line-height: 54px;
    margin-bottom: 30px;
  }
  .container-who {
    padding: 50px 16px;
  }

  .title-who {
    font-size: 42px;
    line-height: 54px;
    margin-bottom: 30px;
  }
  .section-reviews {
    padding: 50px 0px;
  }
  .title-reviews {
    font-size: 42px;
    line-height: 54px;
    margin-bottom: 30px;
  }
}
@media (min-width: 660px) {
  .search-title {
    font-size: 52px;
    line-height: 64px;
    margin-bottom: 50px;
  }
  .search-container {
    padding: 90px 16px;
  }
  .button-search {
    margin-top: 50px;
  }
  .button-daily {
    margin-top: 50px;
  }
  .container-popular {
    padding: 90px 16px;
  }
  .title-popular {
    font-size: 52px;
    line-height: 64px;
    margin-bottom: 50px;
  }

  .daily-container {
    padding: 90px 16px;
  }
  .daily-title {
    font-size: 52px;
    line-height: 64px;
    margin-bottom: 50px;
  }
  .container-who {
    padding: 90px 16px;
  }

  .title-who {
    font-size: 52px;
    line-height: 64px;
    margin-bottom: 50px;
  }

  .title-reviews {
    font-size: 52px;
    line-height: 64px;
    margin-bottom: 50px;
  }
}
@media (min-width: 920px) {
  .search-container {
    padding: 90px 16px 536px;
  }
  .daily-container {
    padding: 90px 16px 543px;
  }
  .section-reviews {
    padding: 90px 0px 95px;
  }
}
